@font-face {
  font-family: 'AlimamaFangYuanTi-Square';
  font-style: normal;
  src: url('../src/assets/fonts/AlimamaFangYuanTiVF-Thin.woff') format('woff'),
    url('../src/assets/fonts/AlimamaFangYuanTiVF-Thin.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-alimama;
  }
}